.main h2 {
  margin-top: 0;
  color: $black-2;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  text-align: center;

  @media #{$max-tablet} {
    font-size: 24px;
    line-height: 41px;
  }
}

.main__header {
  padding-top: 318px;

  @media #{$max-tablet} {
    padding-top: 0;
  }
}

.main__about {
  padding-top: 150px;
  margin-bottom: 303px;

  @media #{$max-tablet} {
    padding: {
      top: 70px;
      bottom: 48px;
    }
  }
}
