.main--menu-open {
  @media #{$max-tablet} {
    display: none;
  }
}

.main h2 {
  margin-top: 0;
  color: $black-2;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  text-align: center;

  @media #{$max-tablet} {
    font-size: 24px;
    line-height: 41px;
  }
}

.main__header {
  margin-bottom: 100px;
  padding: {
    top: 318px;
    bottom: 20px;
  }

  @media #{$max-tablet} {
    margin-bottom: 30px;
    padding: {
      top: 0;
      bottom: 0;
    }
  }
}

.main__about {
  padding-top: 50px;
  margin-bottom: 134px;

  @media #{$max-tablet} {
    margin-bottom: 0;
    padding: {
      top: 40px;
      bottom: 31px;
    }
  }

  @media #{$max-mobile} {
    margin-bottom: 0;
    padding-bottom: 71px;
  }
}

.main__types {
  padding: {
    top: 150px;
    bottom: 149px;
  }

  @media #{$max-tablet} {
    padding: {
      top: 50px;
      bottom: 70px;
    }
  }

  @media #{$max-mobile} {
    padding: {
      bottom: 54px;
    }
  }
}

.main__bikes-video {
  margin-bottom: 200px;
  padding: {
    top: 122px;
    bottom: 20px;
  }

  @media #{$max-tablet} {
    margin-bottom: 109px;
    padding: {
      top: 64px;
      bottom: 20px;
    }
  }

  @media #{$max-mobile} {
    margin-bottom: 101px;
    padding: {
      top: 78px;
      bottom: 20px;
    }
  }
}

.main__address {
  padding-top: 50px;

  @media #{$max-tablet} {
    padding: {
      top: 40px;
      left: 35px;
      right: 35px;
    }
  }

  @media #{$max-mobile} {
    padding: {
      top: 19px;
      left: 0;
      right: 0;
    }
  }
}
