.page-footer--menu-open {
  @media #{$max-tablet} {
    display: none;
  }
}

.page-footer__contacts {
  padding: {
    top: 39px;
    right: 16px;
  }

  @media #{$max-tablet} {
    padding: {
      top: 21px;
      right: 11px;
    }
  }

  @media #{$max-mobile} {
    padding: {
      top: 29px;
      right: 0;
    }
  }
}
