.types {
  @media #{$max-tablet} {
    background-color: $grey-6;
  }
}

.types h2 {
  margin-bottom: 17px;

  @media #{$max-tablet} {
    margin-bottom: 30px;
  }
}

.types ul {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-gap: 50px;
  margin: 0 auto;
  padding: {
    top: 33px;
    left: 60px;
    right: 60px;
  }
  width: min-content;
  list-style: none;

  @media #{$max-tablet} {
    display: flex;
    flex-wrap: wrap;
    grid-gap: unset;
    justify-content: center;
    padding: {
      top: 0;
      left: 37px;
      right: 37px;
    }
    width: auto;
  }

  @media #{$max-mobile} {
    display: block;
    padding: {
      left: 25px;
      right: 25px;
    }
  }
}

.types li {
  @media #{$max-tablet} {
    margin-bottom: 50px;
  }

  @media #{$max-mobile} {
    margin-bottom: 42px;
  }

  &:nth-child(2n + 1) {
    @media #{$max-tablet} {
      margin-right: 50px;
    }

    @media #{$max-mobile} {
      margin-right: 0;
    }
  }

  &:last-child {
    @media #{$max-tablet} {
      margin: {
        bottom: 0;
        right: 0;
      }
    }
  }
}
