$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

$max-mobile: (
  max-width: $tablet-width - 1px,
);

$min-tablet: (
  min-width: $tablet-width,
);

$max-tablet: (
  max-width: $desktop-width - 1px,
);

$min-desktop: (
  min-width: $desktop-width,
);

$desktop-header-width: 880px;

$basic-white: hsl(0, 0, 100%);
$basic-turquoise: hsl(174, 91%, 44%);

$black-1: hsl(0, 100%, 0%);
$black-2: hsl(0, 0%, 12%);
$black-3: hsl(240, 3%, 8%);

$grey-1: hsl(0, 0%, 11%);
$grey-2: hsl(228, 3%, 29%);
$grey-3: hsl(220, 7%, 8%);
$grey-4: hsl(224, 11%, 81%);
$grey-5: hsl(234, 18%, 21%);
$grey-6: hsl(205, 20%, 97%);
$grey-7: hsl(0, 0%, 96%);
