$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

$max-mobile: (
  max-width: $tablet-width - 1px,
);

$min-tablet: (
  min-width: $tablet-width,
);

$max-tablet: (
  max-width: $desktop-width - 1px,
);

$min-desktop: (
  min-width: $desktop-width,
);

$mobile-padding: 16px;
$tablet-padding: 21px;
$desktop-padding: 375px;

$basic-white: hsl(0, 0, 100%);
$basic-black: hsl(0, 100%, 0%);
$basic-turquoise: hsl(174, 91%, 44%);
$biege-background-color: hsl(0, 0%, 96%);

$grey-1: hsl(0, 0%, 11%);
$grey-2: hsl(228, 3%, 29%);
$grey-3: hsl(220, 7%, 8%);
$grey-4: hsl(224, 11%, 81%);
$grey-5: hsl(234, 18%, 21%);
