$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;

$max-mobile: (
  max-width: $tablet-width - 1px,
);

$min-tablet: (
  min-width: $tablet-width,
);

$max-tablet: (
  max-width: $desktop-width - 1px,
);

$min-desktop: (
  min-width: $desktop-width,
);

$mobile-padding: 16px;
$tablet-padding: 21px;
$desktop-padding: 375px;

$basic-white: hsl(0, 0, 100%);
$basic-black: hsl(0, 100%, 0%);
$basic-turquoise: hsl(174, 91%, 44%);
$placeholder-color: hsl(0, 0%, 11%);
$input-border-color: hsl(224, 11.3%, 81%);
